name: Manual Deployment to Production Supabase and Fly.io
on:
  workflow_dispatch:

jobs:
  deploy-supabase:
    name: Deploy to Supabase
    runs-on: ubuntu-latest
    environment: production
    concurrency: supabase-deploy-group
    steps:
      - uses: actions/checkout@v4
      - uses: supabase/setup-cli@v1
        with:
          version: latest
      - name: Link to Supabase DB
        run: supabase link --project-ref ${{ secrets.SUPABASE_PROJECT_REF }}
        env:
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      - name: Push migrations to remote DB
        run: supabase db push
        env:
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}

  deploy-fly:
    name: Deploy to Fly
    runs-on: ubuntu-latest
    needs: deploy-supabase 
    environment: production
    concurrency: fly-deploy-group
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --config fly.toml --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
